# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Python Virtual Environments
.env
.venv
env/
venv/
ENV/

# Streamlit secrets (local only)
.streamlit/secrets.toml

# Node & Frontend
node_modules/
dist/
.DS_Store
backend/app/data/image_cache/

